<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/0kcoffee/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="0kcoffee" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
