<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHubNuGetRepo" value="https://nuget.pkg.github.com/0kcoffee/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubNuGetRepo>
      <add key="Username" value="0kcoffee" />
      <add key="ClearTextPassword" value="\u0067\u0068\u0070\u005f\u0031\u0047\u0042\u0042\u0037\u005a\u0064\u0067\u006b\u0047\u0063\u0047\u0064\u0064\u0072\u0055\u0038\u0072\u0064\u004f\u0055\u0063\u0036\u0078\u0033\u006a\u006b\u004e\u007a\u0053\u0034\u0037\u006e\u0030\u004d\u0069" />
    </GitHubNuGetRepo>
  </packageSourceCredentials>
</configuration>
